<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Carreras de Informática</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Comparaciones</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/">Principal</button>  
      <button mat-button routerLink="/about">Acerca de</button>      
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

<nav mat-tab-nav-bar dynamicHeight>
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    (click)="activeLink = link"
    [active]="activeLink == link"> {{link.label}} </a>
</nav>  
<router-outlet></router-outlet>
